<%- include("partials/error_header") -%>

<h1 class="desktop-title mobile-small-title">Whoops!</h1>
<img class="error-img" src="/img/error.jpg" alt="Error image">
<p class="desktop-subtitle mobile-small-subtitle">An error occured. The most likely cause is the city isn't found or the city name is misspelled.</p>

<%- include("partials/footer") -%>
