<%- include("partials/index_header") -%>

<h1 class="desktop-title mobile-small-title">How's The Weather?</h1>
<p class="desktop-subtitle mobile-small-subtitle">Find out how's the weather in your city by searching below.</p>
<div class="row">
  <div class="col mobile-col">
    <div class="carousel slide carousel-fade" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="carosel-img" src="/img/clouds.jpg" class="d-block w-100" alt="Clouds with blue sky">
        </div>
        <div class="carousel-item">
          <img class="carosel-img" src="/img/rain.jpg" class="d-block w-100" alt="Raindrops falling onto the ground.">
        </div>
        <div class="carousel-item">
          <img class="carosel-img" src="/img/hurricane.jpg" class="d-block w-100" alt="View of a hurricane from space.">
        </div>
        <div class="carousel-item">
          <img class="carosel-img" src="/img/snow.jpg" class="d-block w-100" alt="Snow on trees and ground.">
        </div>
        <div class="carousel-item">
          <img class="carosel-img" src="/img/fog.jpg" class="d-block w-100" alt="Fog covering the Golden Gate Bridge.">
        </div>
        <div class="carousel-item">
          <img class="carosel-img" src="/img/sunny.jpg" class="d-block w-100" alt="Sun shining in the sky.">
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <form class="p-4 p-md-5 border rounded-3 bg-light weather-form-desktop weather-form-mobile" action="/result" method="post">
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="city" name="cityName">
        <label for="cityName">City</label>
      </div>
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingPassword" placeholder="state" name="stateName">
        <label for="stateName">State</label>
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Check Weather</button>
    </form>
  </div>
</div>

<%- include("partials/footer") -%>
