<%- include("partials/index_header") -%>

<div class="container">
  <h1 class="desktop-title mobile-small-title">How's The Weather?</h1>
  <p class="desktop-subtitle mobile-small-subtitle">Find out by searching below.</p>
  <div class="row">
    <div class="col index-col">
      <form class="p-4 p-md-5 border rounded-3 bg-light weather-form-desktop weather-form-mobile" action="/result" method="post">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingInput" placeholder="city" name="cityName">
          <label for="cityName">City</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingInput" placeholder="state" name="stateName">
          <label for="stateName">State Abbreviation</label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Check Weather</button>
      </form>
    </div>
  </div>
</div>

<%- include("partials/footer") -%>
