/* sitewide */
body {
  background-image: url(../img/bg.jpg);
  color: #FFF;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #2F4F4F;
}

/* index.ejs*/
.desktop-title {
  margin-top: 50px;
  text-align: center;
  font-size: 60px;
}

.desktop-subtitle {
  margin-top: 25px;
  text-align: center;
  font-size: 26px;
}

.index-col {
  text-align: center;
}

.weather-form-desktop {
  margin-top: 25px;
  width: 50%;
  display: inline-block;
  color: #000;
}

.desktop-social-media {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #2F4F4F;
  font-size: 18px;
  text-align: center;
}

/* error.ejs */
.error-img {
  width: 50%;
  display: block;
  margin: auto;
}

/* result.ejs */
.desktop-result-title {
  margin-top: 50px;
  text-align: center;
  font-size: 50px;
}

.result-row {
  text-align: center;
}

.desktop-result {
  margin-top: 25px;
  text-align: center;
}

.desktop-result-button {
  width: 50%;
  margin-top: 25px;
}

@media screen and (max-width: 480px) {

  /* index.ejs */
  .mobile-small-title {
    font-size: 24px;
  }

  .mobile-small-subtitle {
    font-size: 16px;
  }

  .weather-form-mobile {
    margin-top: 20px;
    width: 75%;
    font-size: 12px;
    text-align: left;
    color: #000;
  }

  .btn-primary {
    font-size: 14px;
  }

  .mobile-small-social-media {
    font-size: 12px;
  }

  /* result.ejs */
  .mobile-small-result-title {
    font-size: 22px;
  }

  .mobile-small-result {
    font-size: 18px;
  }
}

@media screen and (orientation: portrait) and (min-width: 481px) and (max-width: 768px) {

  /* index.ejs */
  .mobile-small-title {
    font-size: 32px;
  }

  .mobile-small-subtitle {
    font-size: 24px;
  }

  .weather-form-mobile {
    margin-top: 20px;
    width: 100%;
    font-size: 16px;
    text-align: left;
    color: #000;
  }

  .btn-primary {
    font-size: 16px;
  }

  .mobile-small-social-media {
    font-size: 16px;
  }

  /* result.ejs */
  .mobile-small-result-title {
    font-size: 32px;
  }

  .mobile-small-result {
    font-size: 26px;
  }
}

@media screen and (orientation: landscape) and (min-width: 481px) and (max-width: 768px) {

  /* index.ejs */
  .mobile-small-title {
    font-size: 40px;
  }

  .mobile-small-subtitle {
    font-size: 20px;
  }

  .weather-form-mobile {
    margin-top: 20px;
    width: 100%;
    font-size: 20px;
    text-align: left;
    color: #000;
  }

  .btn-primary {
    font-size: 16px;
  }

  .mobile-small-social-media {
    font-size: 16px;
  }

  /* result.ejs */
  .mobile-small-result-title {
    font-size: 36px;
  }

  .mobile-small-result {
    font-size: 28px;
  }
}

@media screen and (orientation: landscape) and (min-width: 769px) and (max-width: 1024px) {

  /* index.ejs */
  .weather-form-mobile {
    margin-top: 20px;
    width: 100%;
    text-align: left;
    color: #000;
  }

  .mobile-small-social-media {
    font-size: 16px;
  }
}
